@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #a9b1d6;
  --primary: #bb9af7;
  --secondary: #2ac3de;
  --background-color: #1a1b26;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", sans-serif;
}

body {
  padding: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
